.amarillo{
	background-color: yellow;
}
.rojo{
	background-color: red; 
}
div{
	height: 25%;
	width: 25%;
	font-size: 140%;
	margin: 10% 2%;
	display: inline-block;
}
.pdl{

	padding-left: 1%;
}
.pdt{
	padding-top: -10%;
}
.pdb{
	padding-bottom: 10%;
}
.may{
	text-transform: uppercase;
}
.exc{
	margin-bottom: 0%;


